/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

.text-xxl{
    font-size: 3.3rem;
    font-weight: 600;
    letter-spacing: 0.13rem;
    line-height: 4.3rem;
}
.highlight_text{
    font-size: 3.5rem;
    font-weight: 900 !important;
    letter-spacing: 0.2rem !important;
}
.text-xl{
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 0.10rem;
    color: #22314b;
}
.text-l{
    font-size: 1.7rem;
}
.text-m{
    font-size: 1.1rem;
}
.primary{
    color: #dbdbdb;
}
.secondary{
    color: #bfbfbf;
}
.ls-m{
    letter-spacing: 0.09rem;
}
.ls-sm{
    letter-spacing: 0.03rem;
}
.btn{
    border-radius: 0px !important;
    font-size: 1.03rem;
    letter-spacing: 1.3px;
    font-weight: 600;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
}
.form-control{
    border-radius: 0px !important;
}
.form-select{
    border-radius: 0px;
}
.form-select:focus, .form-select:active:focus, .form-select.active:focus{
    outline: none;
    box-shadow: none;
}
.form-check-input[type=checkbox]{
    border-radius: 0px !important;
}
.form-check-input:focus, .form-check-input:active:focus, .form-check-input.active:focus{
    outline: none;
    box-shadow: none;
}


/* Navbar Styling */

.navbar_section{
    background: #121a28;
}

.logo{
    color: #0762ff;
}

.navbar_section .navbar-nav .nav-link{
    color: #bfbfbf;
    font-size: 1.0833rem;
    font-weight: 500;
    letter-spacing: 0.0510rem;
    cursor: pointer;
}
.navbar_section .navigation_nav .nav-link{
    color: #bfbfbf;
    font-size: 1.0833rem;
    font-weight: 400;
    letter-spacing: 0.0510rem;
    cursor: pointer;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    border-top: 2px solid transparent;
    transition: 0.5s ease-out;
}
.navbar_section .navigation_nav .nav-link:hover{
    border-top: 2px solid #35568f;
}
.navbar_section .navigation_nav .active{
    font-weight: 600;
    letter-spacing: 0.0810rem;
    border-top: 2px solid #35568f;
}


/* Category Subnavbar section */
.study_abroad_nav{
    position: relative;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.study_abroad_subnav{
    position: absolute;
    left: 4%;
    width: 230px;
    background: #121a28;
    /* border: 2px solid #1b1e2e; */
    box-shadow: 0 0.2px 13px #00000026;
    display: none;
    transition: 0.5s ease-out;
    z-index: 999;
}

.study_abroad_nav:hover .study_abroad_subnav{
    display: inline-block;
    animation: slideup .5s ease;
}

.study_abroad_subnav li{
    list-style: none;
}

/* Animation on sub-navbar items */
@keyframes slideup{
	0%{
		opacity: 0;
		transform: translateY(25px);
	}
	100%{
		opacity: 1;
		transform: none;
	}
}

.dropdown-menu{
    background: #121a28;
    box-shadow: 0 0.2px 13px #00000026;
    border-top: 2px solid #35568f;
    border-radius: 0;
}
.dropdown-item{
    color: #bfbfbf;
    transition: 0.3s ease-out;
}
.dropdown-item:hover{
    /* background: #172132; */
    background: #22314b;
    color: #bfbfbf;
}


/* Landing Page Styling */
.landing_page{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.72)), url('../img/bg_1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 83vh;
}

.info_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.info_box .info_data{
    width: 45%;
}
.info_box .info_form{
    width: 30%;
}
.info_box .info_form .form{
    background-color: rgba(245, 245, 245, 0.099);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    -webkit-box-shadow: 30px 30px 35px rgba(0,0,0,0.25);
    box-shadow: 30px 30px 35px rgba(101, 101, 101, 0.25);
    border: 2px solid rgba(255, 246, 246, 0.08);
    /* border: 2px solid rgba(255, 246, 246, 0.1); */
}


/* World wide styling */
.branches_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.branch_data_section{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.branch_img{
    width: 210px;
    height: 210px;
    /* border-radius: 50%; */
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
    /* =================== */
    /* -webkit-clip-path: polygon(20% 0%, 0% 20%, 8% 51%, 0% 80%, 20% 100%, 50% 90%, 80% 100%, 100% 80%, 91% 48%, 100% 20%, 80% 0%, 50% 14%);
    clip-path: polygon(20% 0%, 0% 20%, 8% 51%, 0% 80%, 20% 100%, 50% 90%, 80% 100%, 100% 80%, 91% 48%, 100% 20%, 80% 0%, 50% 14%); */
    /* ===================================== */
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 8% 51%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 91% 48%, 100% 20%, 80% 0%, 50% 0);
    clip-path: polygon(20% 0%, 0% 20%, 8% 51%, 0% 80%, 20% 100%, 50% 100%, 80% 100%, 100% 80%, 91% 48%, 100% 20%, 80% 0%, 50% 0);
    /* ================================== */
    /* -webkit-clip-path: polygon(0% 15%, 8% 8%, 15% 0%, 85% 0%, 90% 6%, 100% 15%, 100% 85%, 92% 93%, 85% 100%, 15% 100%, 7% 92%, 0% 85%);
    clip-path: polygon(0% 15%, 8% 8%, 15% 0%, 85% 0%, 90% 6%, 100% 15%, 100% 85%, 92% 93%, 85% 100%, 15% 100%, 7% 92%, 0% 85%); */
    padding: 2.2px;
    /* background: linear-gradient(145deg, #ff7070, #21384e); */
    cursor: pointer;
    transition: 0.5s ease-out;
}
.branch_img:hover{
    width: 210px;
    height: 210px;
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
    /* ============================= */
    /* -webkit-clip-path: polygon(20% 0%, 0% 20%, 8% 51%, 0% 80%, 20% 100%, 50% 90%, 80% 100%, 100% 80%, 91% 48%, 100% 20%, 80% 0%, 50% 14%);
    clip-path: polygon(20% 0%, 0% 20%, 8% 51%, 0% 80%, 20% 100%, 50% 90%, 80% 100%, 100% 80%, 91% 48%, 100% 20%, 80% 0%, 50% 14%); */
    /* ============================= */ 
    -webkit-clip-path: polygon(0% 15%, 0 0, 40% 17%, 74% 19%, 100% 0, 100% 15%, 100% 85%, 100% 99%, 63% 83%, 26% 83%, 0 100%, 0 50%);
    clip-path: polygon(0% 15%, 0 0, 40% 17%, 74% 19%, 100% 0, 100% 15%, 100% 85%, 100% 99%, 63% 83%, 26% 83%, 0 100%, 0 50%);
}

.branch_destination{
    font-weight: bolder;
    /* letter-spacing: 0.10rem; */
    color: #22314b;
    letter-spacing: 0.18rem;
}

/* About Styling */
.about_section{
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.about_img{
    width: 98%;
    height: 60vh;
    -webkit-filter: brightness(43%);
    filter: brightness(43%);
    transition: 0.5s ease-out;
}
.about_img:hover{
    width: 98%;
    height: 60vh;
    -webkit-filter: brightness(68%);
    filter: brightness(68%);
    transform: scale(0.9892);
}
.about_list_box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}
.about_list_box .tick{
    width: 26px;
    height: 26px;
    background: #22314b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_btn{
    color: #121a28;
    /* overflow: hidden;
    transition-duration: 0.2s;
    transition-property: transform; */
}
.video_btn:hover{
    color: #0762ff;
    /* transform: rotate(360deg);
    -webkit-transform: rotate(360deg); */
}

.about_video_box{
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Services Styling */
.service_box_section{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.service_box{
    background: #121a28;
    width: 300px;
    height: auto;
    transition: 0.6s ease-out;
    overflow: hidden;
    cursor: pointer;
}
.service_box:hover{
    box-shadow: 4px 4px 2px #707070,
                -3px -3px 2px #bfbfbf;
}
.service_img_box{
    position: relative;
}
.country_flag{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    /* padding: 0.2rem; */
    border: 1px solid #121a28;
}
.service_img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: center;  
    overflow: hidden;
    transition: transform .3s ease-out;
    display: inline-block;
}
.service_img:hover{
    transform: translate(0, -5px);
}

.service_data{
    background: #121a28;
    overflow: hidden;
}

/* End of Styling */